# 특정 IDE 관련 파일들
.vscode/
.idea/
*.iml

# MacOS 관련 파일들
.DS_Store

# C++ 빌드 파일들
lsm-tree/generator
lsm-tree/*.o
lsm-tree/*.a

*.sst
workload.txt

test/bench-data/
test/workload.txt
test/bench-go-lsm_wal/